@using TotalPortal.Configuration;

@{Layout = "~/Views/Shared/_LayoutPopup.cshtml";}

@model TotalPortal.Areas.Inventories.ViewModels.WarehouseAdjustmentViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Helpers/Bases/_BaseSectionTop.cshtml")

    @Html.HiddenFor(m => m.NegativeOnly)
    @Html.HiddenFor(m => m.PositiveOnly)    
    @Html.HiddenFor(m => m.SpecialNMVNTaskID)

    <div style="margin-top: 39px; margin-right: 18px;">
        @if (!Model.PositiveOnly)
        {
            @Html.EditorFor(d => d.Warehouse)
        }

        @if (!Model.NegativeOnly)
        {
            @Html.EditorFor(d => d.WarehouseReceipt)
        }

    </div>
    <div class="background-bar" style="height: 45px;">
        <div class="popup-button-bar">
            <input id="submitCreateWizard" type="submit" formaction="@Url.Action("CreateWizard", Model.ControllerName)" formtarget="_top" style="display:none" />

            @*<button type="button" class="k-button" onclick="okButton_Click()"> <img src="~/Content/Images/Mains/Size24/Ok-1.png" /> Áp dụng CTKM đang chọn </button>   //At VCP DON'T ALLOW SELECT BY SINGLE PROMOTION *@
            <button type="button" class="k-button" onclick="okWOSelectButton_Click()"> <img src="~/Content/Images/Mains/Size24/Accept-Total.png" /> Next </button>
            <button type="button" class="k-button" onclick="window.parent.$('#myWindow').data('kendoWindow').close()"> <img src="~/Content/Images/Mains/Size24/Users-Exit-icon-24.png" /> Exit </button>
        </div>
    </div>

}

<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">   

    function okButton_Click() {
        handleOKEvent($($("#tabStrip").data("kendoTabStrip").select().index() === 0 ? "#gridPromotion" : "#gridXXXX_ReserveForLater").data("kendoGrid"));
    }

    function okWOSelectButton_Click() {
        handleOKEvent();
    }

    function handleOKEvent(selectedGrid) { //This javascript is now used only here. Later, if it is used somewhere else, it should be break into a standalone js file, and then just only add a link here

        if ($("#Project_ProjectID").val() === null || $("#Project_ProjectID").val() === "")
            return false;

        if (selectedGrid === undefined)
            _setModelInput();
        else {
            var selectedDataItem = selectedGrid.dataItem(selectedGrid.select());
            if (selectedDataItem === undefined)
                return false;

            _setModelInput(selectedDataItem);
        }
        $("#submitCreateWizard").trigger("click");


        function _setModelInput(selectedDataItem) {
        }
    }

    $("#Warehouse_Name").change(function (e) {
        if ($("#NegativeOnly").val() == "True"){
            var warehouseData = $('#Warehouse_Name').data('kendoAutoComplete');
            var dataSelect = warehouseData.dataItems().filter(f => f.Name == warehouseData.value());

            if(dataSelect != undefined && dataSelect.lenght > 0){
                $("#WarehouseReceipt_WarehouseID").val(dataSelect[0].WarehouseID);
                $("#WarehouseReceipt_Code").val(dataSelect[0].Code);
                $('#WarehouseReceipt_Name').val(dataSelect[0].Name);
            }
        }
    })

    $("#WarehouseReceipt_Name").change(function (e) {
        if ($("#PositiveOnly").val() == "True"){
            var warehouseReceiptData = $('#WarehouseReceipt_Name').data('kendoAutoComplete');
            var dataSelect = warehouseReceiptData.dataItems().filter(f => f.Name == warehouseReceiptData.value());

            if(dataSelect != undefined && dataSelect.lenght > 0){
                $("#Warehouse_WarehouseID").val(dataSelect[0].WarehouseID);
                $("#Warehouse_Code").val(dataSelect[0].Code);
                $('#Warehouse_Name').val(dataSelect[0].Name);
            }
        }
    })

</script>





